:root {
  --primary-color: #0d0e0e;
  --secondary-color: #ce3939;
  --tertiary-color: #d86262;
  --main-bg-color: #fcfcf9 ;
  --grey: #dbdbdb;
}

body {
  background: var(--main-bg-color);
}

.side {
  display: flex;
  margin: 14px 0 24px 0;
  padding: 5px 0 5px 0;
}

.side > p {
  border: 2px solid var(--tertiary-color);
  border-radius: 7px;
  padding: 5px 7px;
  margin: -10px 0 0 10px;
  background-color: var(--tertiary-color);
  color: var(--main-bg-color)
}

* { font-family: Helvetica, Arial, sans-serif }



#triangleForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100%;
}

label[for="triangleSides"] {
  color: var(--secondary-color);
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -3px;
  line-height: 80px;
  padding: 100px 0 50px 0;
}

input[type="range"] {
  -webkit-appearance: none;
  /* Bar Slider */
  height: 3px;
  border-radius: 10px;
  background-color: var(--grey);
  width: 300px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 3px solid var(--tertiary-color);
  border-radius: 100%;
  background-color: var(--main-bg-color);
  cursor: pointer;
}

button[type="submit"] {
  background-color: var(--tertiary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  height: 38px;
  padding: 0 20px;
  transition: all 0.2s;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 13px;
  color: var(--main-bg-color);
}

button[type="submit"]:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

button[type="submit"]:focus {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

#result {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  background-color: var(--secondary-color); 
}
